 body {
            font-family: Arial, sans-serif;
            background-color: lightgray; 
            padding: 20px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1, h2 {
            text-align: center;
            width: 100%;
            max-width: 600px; 
        }

        .player_one {
            width: 100%;
            max-width: 600px; 
            background-color: white;
            border: 1px solid black;
            padding: 15px 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			border-radius:11px
        }

        .player_one ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .player_one li {
            padding: 5px 0;
            font-size: 1.1em;
            color: #333;
        }

        .player_one {
            width: 100%;
            max-width: 600px;
            background-color: white;
            border: 1px solid black;
            padding: 10px;
            margin-top: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        video {
            width: 100%;
            height: auto;
            display: block;
        }

        audio {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .media-info {
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .player_two{
            font-size: 0.9em;
            color: #555;
            padding: 5px 0 0 0;
        }